*{
    margin: 0;
    padding: 0;
}
header{
    background-color: #00CFFD;
    nav{
        display: flex;
        justify-content: left;
        margin: 0px;
        padding: 20px;
        div{
            img{
                width: 50px;
            }
        }
        a{
            color: aliceblue;
            font-size: 30px;
            font-style: italic;
            text-decoration: none;
        }
    }
}
main{
    background-color: #EBEBEB;
    article{
        display: flex;
        justify-content: space-between;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 20px;
        transition: box-shadow 0.3s ease-in-out;
        form{
            padding: 50px;
            width: 80%;
            background-color: white;
            display: flex;
            flex-direction: column;
            border-radius: 20px;
            h3{
                display: flex;
                justify-content: left;
            }
            div{
                justify-content: center;
            }
        }
        :hover{
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        }
    }
}
footer{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #C760FF;
    .copy{
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        padding: 15px;
    }
    .redes{
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        padding: 15px;
        a{
            text-decoration: none;
            color: white;
            padding: 5px;
        }
    }
}